<%- include('header')  %>
<div class="dashboard-container">
  <div class="dashboard-text">
    <h1>Cảnh báo !!!</h1>
    <h2>Đây là trang dành cho người quản trị</h2>
  </div>
  <div class="dashboard-img">
    <img src="/images/Floppy.png" alt="">
  </div>
</div>
<%- include('footer')  %>