<!-- product section starts -->
<div class="search-box">
    <input type="text" placeholder="Tìm kiếm theo tên sản phẩm" id="searchValue">
</div>
<div id="main">
    <section class="product" id="products">
        <h1 class="heading"><span>Sản phẩm</span> bán chạy</h1>
        <div class="box-container" id="best-seller">
            
        </div>
        <div class="box-center">
            <a href="#" class="btn center">Xem thêm</a>
        </div>
    </section>
    
    <section class="product no-pt" id="products">
        <h1 class="heading"><span>Sản phẩm</span> xem nhiều</h1>
        <div class="box-container" id="best-view">
            
        </div>
        <div class="box-center">
            <a href="#" class="btn center">Xem thêm</a>
        </div>
    </section>
    
    <section class="product no-pt-all" id="products">
        <h1 class="heading"><span>Tất cả</span> sản phẩm</h1>
        <div class="box-container" id="all-products">
            
        </div>
        <div class="box-center">
            <a href="#" class="btn center">Xem thêm</a>
        </div>
    </section>
</div>

<script src="/javascripts/main.js"></script>
<!-- product section ends -->