<%- include('header') %> 
<input type="hidden" value="<%= id %> " id="idPro">;

<section class="home" id="home">
    
</section>

<script src="/javascripts/productDetail.js"></script>

<%- include('footer') %> 