<%- include('header') %>
<input type="hidden" value="<%= id %> " id="idCate">;
<section class="product" id="products">
    <h1 class="heading">Sản phẩm</h1>
    <div class="box-container" id="all-products">
        
    </div>
    <div class="box-center">
        <a href="#" class="btn center">Xem thêm</a>
    </div>
</section>

<script src="/javascripts/main.js"></script>

<%- include('footer') %> 
